.App-header {
  margin-top: 64px;
  background-color: #424242;
  min-height: 6vh;
  padding-left: 0.44rem;
  padding-right: 0.44rem;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(4px + 2vmin);
  color: white;
  margin-bottom: 1vh;
}

.color-change {
  color: #ccc;
}

.space {
  padding-left: 0.1rem;
  padding-right: 0.28rem;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: lightgrey;
  color: black;
  padding: 1rem;
  border: 1px solid #ccc;
  min-height: 50vh;
}
.toolbar-class {
  border: 1px solid #ccc;
}

.preview {
  padding: 1rem;
  margin-top: 1rem;
  color: gray;
}

/* textarea */

.row {
  flex: 1;
  display: flex;
  flex-flow: row;
}

.col {
  flex: 1;
  display: flex;
  flex-flow: column;
  height: 78vh;
  padding: 0 0.44rem 0 0.44rem;
}

.editor-textarea {
  background-color: #fff;
  flex: 1;
  padding: 10px;
  border: 1px solid;
  resize: none;
}

.editor-textarea2 {
  outline: none;
  background-color: #fff;
  flex: 1;
  padding: 10px;
  border: 1px solid;
  resize: none;
}

/* textarea */
