.App-header {
  margin-top: 64px;
  min-height: 6vh;
  margin-bottom: 2vh;
}

li {
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-preview {
  z-index: 1;
  color: black;
  position: absolute;
}

.pdf-viewer {
  z-index: 999;
  height: 85vh;
  max-height: 100%;
  position: relative;
}

.dflt {
  color: #5c5c5c;
}

.space {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: lightgrey;
  color: black;
  padding: 1rem;
  border: 1px solid #ccc;
  min-height: 50vh;
}
.toolbar-class {
  border: 1px solid #ccc;
}

.preview {
  padding: 1rem;
  margin-top: 1rem;
  color: gray;
}

.errormsg {
  color: red;
  font-size: x-small;
  font-family: "Courier New", Courier, monospace;
}

/* textarea */

.row {
  flex: 1;
  display: flex;
  flex-flow: row;
}

.col {
  flex: 1;
  display: flex;
  flex-flow: column;
  height: 85vh;
  max-height: 100%;
  padding: 0 0.44rem 0 0.44rem;
}

.editor-textarea {
  background-color: #fff;
  flex: 1;
  padding-top: 12px;
  padding-left: 35px;
  border: 1px solid;
  resize: none;
}

.editor-textarea2 {
  background-color: transparent;
  flex: 1;
  border: transparent;
}

textarea {
  background: url("../images/lines.png");
  background-attachment: local;
  background-repeat: no-repeat;
}

/* textarea */
