.i {
  color: #5c92ff;
}

.ii {
  font-size: 1.6rem;
  letter-spacing: -2px;
}

.iii {
  color: #5c92ff;
}

.buttpnlgn:hover {
  opacity: 0.8;
}

.disc {
  font-size: 16px;
}

.disc:hover {
  color: #5c91ff;
}

.underline {
  background: linear-gradient(to right, #dcffff, #5c92ff 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}

.footerlinks a {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.4rem;
}

.footerlinks a:link,
.footerlinks a:visited {
  text-decoration: none;
  color: #5c91ff;
}

.footerlinks a:hover {
  text-decoration: none;
  color: #5c91ff;
  opacity: 0.8;
}

.maptitle {
  font-size: 1.5rem;
}

.maptitleuse {
  text-align: start;
  font-size: 1.2rem;
}

.textdefault {
  font-size: 1.2rem;
}

.textdefault2 {
  font-size: 0.8rem;
}

.titleintro {
  font-size: 2.4rem;
  text-align: center;
}

.termstext {
  font-size: 1rem;
}

/****** custom scrollbar *********/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  border-radius: 8px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

/****** custom scrollbar *********/

.anchorOriginTopCenter {
  font-weight: 600;
}
