.login-form {
  max-width: 350px;
  margin: auto;
}

.box {
position: relative;
width: 550px;
height: 550px;
top: 150px;
left: 685px;
background: #E5E5E5;
}

/*.footer {
position: absolute;
width: 1440px;
height: 48px;
left: 0px;
top: 976px;
background: #686565;
}*/